<!-- DEV -->
<script type="text/javascript" src="/js/libpannellum.js"></script>
<script type="text/javascript" src="/js/RequestAnimationFrame.js"></script>
<script type="text/javascript" src="/js/pannellum.js"></script>

<!-- PROD -->
<!--
<script type="text/javascript" src="build/js/libpannellum.min.js"></script>
<script type="text/javascript" src="build/js/RequestAnimationFrame.min.js"></script>
<script type="text/javascript" src="build/js/pannellum.min.js"></script>
-->