.controls {
  position: absolute;
  background-color: #fff;
  border: 1px solid #999;
  border-color: rgba(0,0,0,0.4);
  border-radius: 3px;
  cursor: pointer;
}

.control:hover {
  background-color: #f8f8f8;
}

#compass {
  width: 50px;
  height: 50px;
  right: 4px;
  bottom: 4px;
  border-radius: 25px;
  background-image: url('../assets/svg/compass.svg');
  cursor:default;
  display:none;
}

#zoomcontrols {
  top: 4px;
  left: 4px;
  width: 26px;
  height: 52px;
}

#zoom_in {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  border-radius: 3px 3px 0 0;
}

#zoom_out {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  background-position: 0 -26px;
  border-top: 1px solid #ddd;
  border-top-color: rgba(0,0,0,0.10);
  border-radius: 0 0 3px 3px;
}

#fullscreentoggle_button {
  top: 66px;
  left: 4px;
  width: 26px;
  height: 26px;

  &.fullscreentoggle_button_inactive {
    background-position: 0 -52px;
  }

  &.fullscreentoggle_button_active {
    background-position: 0 -78px;
  }
}

#load_button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  margin: -50px 0 0 -100px;
  background-color: #222;
  background-color: rgba(0,0,0,.7);
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  display: table;
  color: #fff;
  cursor: pointer;

  p {
    display: table-cell;
    vertical-align: middle;
  }

  &:hover {
    background-color: #111;
    background-color: rgba(0,0,0,.8);
  }
}