.hotspot {
  position: absolute;
  height: 26px;
  width: 26px;
  visibility: hidden;
  cursor: default;
  border-radius: 13px;
  vertical-align: middle;
  top: 0;

  &.info {
    background-position: 0 -104px;
  }

  &.scene {
    background-position: 0 -130px;
  }

  &:hover {
    background-color: rgba(255,255,255,0.2);
  }
}