#panorama_info {
  position: absolute;
  bottom: 4px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 0 3px 3px 0;
  padding-right: 10px;
  color: #fff;
  text-align: left;
  display: none;

  #title_box {
    position: relative;
    font-size: 20px;
    display: table;
    padding-left: 5px;
    margin-bottom: 3px;
  }

  #author_box {
    position: relative;
    font-size: 12px;
    display: table;
    padding-left: 5px;
  }
}

// No javascript info panel
.infobox {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 150px;
  margin: -75px 0 0 -100px;
  background-color: #000;
  border-radius: 3px;
  display: table;
  text-align: center;
  color: #fff;
  p {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px 0 5px;
  }
}