@keyframes mv {
  from {left:0;top:0;}
  25% {left:10px;top:0;}
  50% {left:10px;top:10px;}
  75% {left:0;top:10px;}
  to {left:0;top:0;}
}

@-webkit-keyframes mv {
  from {left:0;top:0;}
  25% {left:10px;top:0;}
  50% {left:10px;top:10px;}
  75% {left:0;top:10px;}
  to {left:0;top:0;}
}

#load_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 150px;
  margin: -75px 0 0 -100px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  display: none;
  color: #fff;

  #lbox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    display: none;
    .loading {
      animation-duration: 1.5s;
      -webkit-animation-duration: 1.5s;
      animation-name: mv;
      -webkit-animation-name: mv;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
      height: 10px;
      width: 10px;
      background-color: #fff;
      position: relative;
    }
  }

  #lbar {
    width: 150px;
    margin: 0 auto;
    border: #fff 1px solid;
    height: 6px;
    #lbar_fill {
      background: #fff;
      height: 100%;
      width: 0;
    }
  }

  #lmsg {
    font-size: 12px;
  }
}