div.tooltip {
  span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    max-width: 200px;
    z-index: 10;
    padding: 5px 10px;
    margin-top: -41px;
    margin-left: -220px;
    cursor: default;
  }

  &:hover {
    span {
      visibility: visible;
    }
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: rgba(0,0,0,0.7) transparent transparent transparent;
      top: -12px;
      left: 3px;
    }
  }
}

// Right click tooltip
#about {
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  padding: 5px 8px 5px 8px;
  background: rgba(0,0,0,0.7);
  border-radius: 3px;
  position: absolute;
  top: 50px;
  left: 50px;
  display: none;
  opacity: 0;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  display: none;

  a {
    &:link, &:visited {
      color: #fff;
    }
    &:hover, &:active {
      color: #eee;
    }
  }
}