// Styles applied within' the viewer IFrame
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  cursor: default;
  width: 100%;
  height: 100%;
  font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  background: #f4f4f4 url('../assets/svg/background.svg') repeat;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  #viewPort {
    width: 100%;
    height: 100%;

    #container {
      cursor: inherit;
      .world {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: translate3d(0px, 0px, 700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: translate3d(0px, 0px, 700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      }
      .face {
        position: absolute;
        -webkit-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 1002px;
        width: 1002px;
        background-size: 100% 100%;
        &.fface {
          -webkit-transform: translate3d(-501px, -501px, -500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform: translate3d(-501px, -501px, -500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        &.bface {
          -webkit-transform: translate3d(501px, -501px, 500px) rotateX(180deg) rotateY(0deg) rotateZ(180deg);
          transform: translate3d(501px, -501px, 500px) rotateX(180deg) rotateY(0deg) rotateZ(180deg);
        }
        &.uface {
          -webkit-transform: translate3d(-501px, -500px, 501px) rotateX(270deg) rotateY(0deg) rotateZ(0deg);
          transform: translate3d(-501px, -500px, 501px) rotateX(270deg) rotateY(0deg) rotateZ(0deg);
        }
        &.dface {
          -webkit-transform: translate3d(-501px, 500px, -501px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
          transform: translate3d(-501px, 500px, -501px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
        }
        &.lface {
          -webkit-transform: translate3d(-500px, -501px, 501px) rotateX(180deg) rotateY(90deg) rotateZ(180deg);
          transform: translate3d(-500px, -501px, 501px) rotateX(180deg) rotateY(90deg) rotateZ(180deg);
        }
        &.rface {
          -webkit-transform: translate3d(500px, -501px, -501px) rotateX(0deg) rotateY(270deg) rotateZ(0deg);
          transform: translate3d(500px, -501px, -501px) rotateX(0deg) rotateY(270deg) rotateZ(0deg);
        }
      }
    }

    .dragfix {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    #nocanvas {
      display: none;
    }

    &.grab {
      cursor: url('../assets/svg/grab.svg') 12 8, default;
    }

    &.grabbing {
      cursor: url('../assets/svg/grabbing.svg') 12 8, default;
    }
  }

  .sprite {
    background-image: url('../assets/svg/sprites.svg');
  }

  // TODO: Need to determine where these should live...
  .viewport {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-perspective: 700px;
    perspective: 700px;
  }

  #preview {
    background-size: 100% 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}



