<!DOCTYPE HTML>
<html>
    <head>
        <% include ../partials/app_header.ejs %>
    </head>
    <body>
        <iframe title="ThetaS"
                width="800" height="600"
                webkitallowfullscreen mozallowfullscreen allowfullscreen
                style="border-style: none; position: absolute; left: 50%; margin-left: -400px; "
                src="views/pages/sphericalImageViewer.ejs?config=/js/config/la1.json">
        </iframe>
    </body>
</html>
