<!DOCTYPE HTML>
<html>
<head>
    <% include ../partials/viewer_header.ejs %>
</head>

<body>
    <div id="viewPort">
        <div id="container">
            <canvas id="canvas"></canvas>
            <div class="world">
                <div class="face fface"></div>
                <div class="face bface"></div>
                <div class="face uface"></div>
                <div class="face dface"></div>
                <div class="face lface"></div>
                <div class="face rface"></div>
            </div>
        </div>

        <div class="dragfix"></div>

        <div id="panorama_info">
            <div id="title_box"></div>
            <div id="author_box"></div>
        </div>

        <div id="zoomcontrols" class="controls">
            <div id="zoom_in" onclick="zoomIn(5)" class="sprite control"></div>
            <div id="zoom_out" onclick="zoomOut(5)" class="sprite control"></div>
        </div>

        <div id="fullscreentoggle_button" onclick="toggleFullscreen()"
             class="sprite fullscreentoggle_button_inactive controls control"></div>

        <div id="load_box">
            <p>Loading...</p>
            <div id="lbox"><div class="loading"></div></div>
            <div id="lbar"><div id="lbar_fill"></div></div>
            <p id="lmsg"></p>
        </div>

        <div id="load_button" onclick="load()"><p>Click to<br>Load<br>Panorama</p></div>

        <div id="nocanvas" class="infobox"><p>Your browser does not have the necessary WebGL support to display this panorama.</p></div>

        <div id="compass" class="controls control"></div>

        <span id="about"><a href="http://slalom.com/" target="_blank">Slalom Consulting</a></span>

        <noscript>
            <div id="nojavascript" class="infobox">
                <p>Javascript is required to view this panorama.<br>(It could be worse; you could need a plugin.)</p>
            </div>
        </noscript>
        
        <!--<button onclick="panTest(20)" style="position: absolute; top: 0; right: 0;">PAN TEST</button>->
    </div>

    <% include ../partials/viewer_scripts.ejs %>

</body>
</html>
